header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header div {
    width: 142px;
    height: 60px;
    margin-left: 20px;
    background: url("../images/logo.png") no-repeat;
    position: relative;
    top: 5px;
}

@media (max-width: 999px) {
    header {
    	height: 90px;
    }
    
    header div {
    	margin: 0 auto;
    	width: 200px;
    	height: 85px;
    	background-size: cover;
    }
}
